.output-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: ivory;
}

.output-box {
  flex: 1;
  overflow: auto;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}

.solution-box {
  flex: 1;
}

.steps-box {
  flex: 2;
}
