.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: auto;
  width: 80%;
}

.title {
  font-family: "Fjalla One", sans-serif;
  animation: slide-in 1s ease-out forwards;
  display: flex;
  align-items: center;
  opacity: 0;
}

.logo {
  width: 80px;
  height: auto;
  margin-bottom: 0.5rem; /* Add some margin to separate the logo from the title */
  position: relative;
  z-index: 2;
}

.slogan {
  text-align: center;
  margin-bottom: 1rem;
}

.slogan-text {
  font-family: "Your Custom Font", sans-serif;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.title:hover .hidden {
  opacity: 1;
}

@media (max-width: 768px) {
  .title-container {
    width: 80%; /* Adjust the width as needed for smaller screens */
    height: 100vh;
    font-size: medium;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
  }
}
