.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.title {
  font-family: "Your Custom Font", sans-serif;
  animation: slide-in 1s ease-out forwards;
  display: flex;
  align-items: center;
  opacity: 0; /* Start with opacity set to 0 */
}

.logo {
  width: auto; /* Set the width to auto to maintain aspect ratio */
  height: 150px; /* Adjust the height as needed */
  margin-right: 2rem; /* Adjust the spacing as needed */
  position: relative;
  z-index: 2; /* Ensure the logo is in front */
}

.slogan {
  text-align: center;
  margin-bottom: 2rem;
}

.slogan-text {
  font-family: "Your Custom Font", sans-serif;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  60% {
    opacity: 0; /* Hide the title at 50% of animation */
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.title:hover .hidden {
  opacity: 1;
}
