.home-page {
  height: 100vh;
}

.answer-page {
  height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .home-page {
    height: 200vh;
  }
  .answer-page {
    height: 100vh;
  }
}
